@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.fancy-wrapper {
  position: relative;
  padding: 2px;
  background: linear-gradient(
    45deg,
    var(--accent-4),
    var(--accent-12),
    var(--accent-7)
  );
  background-size: 100% 100%;
  border-radius: max(var(--radius-4), var(--radius-full));
}

.fancy-wrapper::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(
    45deg,
    var(--accent-4),
    var(--accent-12),
    var(--accent-7)
  );
  background-size: 200% 200%;
  z-index: -1;
  filter: blur(5px);
  opacity: 0.5;
}

@keyframes subtleGradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

  .radix-themes {
    --cursor-button: pointer;
    --cursor-checkbox: pointer;
    --cursor-disabled: default;
    --cursor-link: pointer;
    --cursor-menu-item: pointer;
    --cursor-radio: pointer;
    --cursor-slider-thumb: grab;
    --cursor-slider-thumb-active: grabbing;
    --cursor-switch: pointer;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
